<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Upload Attendance | Udaaan Portal</title>
<link rel="shortcut icon" href="/static/images/1.jpg">

  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/styles/user.css">
  <!-- endinject -->
<script>
 function popup(){
                alert("Attendance Uploaded Successfully!");
            }
  </script>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="/app/user">
          <img src="/static/images/7.png" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="/app/user">
          <img src="/static/images/1.jpg" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                          <span class="profile-text">Hello, <%= userdetails.name %></span>
                          <img class="img-xs rounded-circle" src="<%= userdetails.photo %>" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                          <a class="dropdown-item" href="#">
                            Change Password
                          </a>
                          <a class="dropdown-item" href="/app/logout">
                            Sign Out
                          </a>
                        </div>
                      </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
              <li class="nav-item nav-profile">
                <div class="nav-link">
                  <div class="user-wrapper">
                    <div class="profile-image">
                      <img src="<%= userdetails.photo %>" alt="profile image">
                    </div>
                    <div class="text-wrapper">
                      <p class="profile-name"><%= userdetails.name %></p>
                      <div>
                        <small class="designation text-muted">Volunteer</small>
                        <span class="status-indicator online"></span>
                      </div>
                    </div>
                  </div>
                  <form method="get" action="/app/chat">
                  <button class="btn btn-success btn-block">Udaaan Chat
                    <i class="mdi mdi-plus"></i>
                  </button>
                </form>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/app/user">
                  <i class="menu-icon mdi mdi-television"></i>
                  <span class="menu-title">Dashboard</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-content-copy"></i>
                <span class="menu-title">View Details</span>
                <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                        <a class="nav-link" href="/app/Volunteers">GLA Unit Volunteers</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/app/students">GLA Unit Students</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/app/alumini">GLA Unit Alumini</a>
                          </li>
                        </ul>
                </div>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="menu-icon mdi mdi-backup-restore"></i>
                  <span class="menu-title">Events Update</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/app/hierarchy">
                  <i class="menu-icon mdi mdi-chart-line"></i>
                  <span class="menu-title">Hierarchy</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="menu-icon mdi mdi-table"></i>
                  <span class="menu-title">Event Calender</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/app/rules">
                  <i class="menu-icon mdi mdi-sticker"></i>
                  <span class="menu-title">Rules & Regulations</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="menu-icon mdi mdi-sticker"></i>
                  <span class="menu-title">Update Details</span>
                </a>
              </li>
            </ul>
          </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
<div class="row">
<div class="col-lg-12 grid-margin">
<div class="card">
<div class="card-body">
<h4 class="card-title">Upload Attendance</h4>



<div class="row">
        <div class="panel-heading">
                <ul class="nav nav-tabs">
                <li><a href="#first" data-toggle="tab" class="btn btn-common"><h4>1st Year</h4> </a></li>
                <li><a href="#second" data-toggle="tab" class="btn btn-common active show"><h4>2nd Year  </h4></a></li>
                <li><a href="#third" data-toggle="tab" class="btn btn-common"><h4>3rd Year </h4></a></li>
                <li><a href="#fourth" data-toggle="tab" class="btn btn-common"><h4>4th Year </h4></a></li>
                </ul>
        </div>
        </div>

        <div class="panel-body">
            <div class="tab-content" id="nav-tabContent">
<!--1st year attendance-->

<div class="tab-pane fade show active" id="first">
<div class="table-responsive">
<form method="post" action="/app/attend">
<table class="table table-bordered">
<thead>
<tr>
<th>SELECT</th>
<th>UNIVERSITY ID</th>
<th>MEMBER</th>
<th>COURSE</th>
<th>YEAR</th>
<th>ATTENDANCE %age</th>
</tr>
</thead>
<tbody>
        <% for(var i in firstlist) { %>
<tr>
<td class="font-weight-medium">
<div class="checkbox-inline">
<label class="checkbox-inline"><input type="checkbox" style="width: 20px; height:20px;" name="p" value="<%= firstlist[i].university_id %>" checked></label>
</div>
</td>
<td><%= firstlist[i].university_id %></td>
<td><%= firstlist[i].name %></td>
<td><%= firstlist[i].course %></td>
<td><%= firstlist[i].year %></td>
<td>____</td>
</tr>
<% } %>
</tbody>
</table>
<br><center><input type="submit" value="Save Attendance" class="btn btn-primary" onclick="popup()"></center><br>
</form>
</div>
</div>

  <!--2nd year attendance-->
  <div class="tab-pane fade" id="second">
  <div class="table-responsive">
        <form method="post" action="/app/attend">
        <table class="table table-bordered">
        <thead>
        <tr>
        <th>SELECT</th>
        <th>UNIVERSITY ID</th>
        <th>MEMBER</th>
        <th>COURSE</th>
        <th>YEAR</th>
        <th>ATTENDANCE %age</th>
        </tr>
        </thead>
        <tbody>
                <% for(var i in secondlist) { %>
        <tr>
        <td class="font-weight-medium">
        <div class="checkbox-inline">
        <label class="checkbox-inline"><input type="checkbox" style="width: 20px; height:20px;" name="p" value="<%= secondlist[i].university_id %>" checked></label>
        </div>
        </td>
        <td><%= secondlist[i].university_id %></td>
        <td><%= secondlist[i].name %></td>
        <td><%= secondlist[i].course %></td>
        <td><%= secondlist[i].year %></td>
        <td>____</td>
        </tr>
        <% } %>
        </tbody>
        </table>
        <br><center><input type="submit" value="Save Attendance" class="btn btn-primary" onclick="popup()"></center><br>
        </form>
        </div>
  </div>

  <!--3rd year attendance-->
  <div class="tab-pane fade" id="third">
  <div class="table-responsive">
        <form method="post" action="/app/attend">
        <table class="table table-bordered">
        <thead>
        <tr>
        <th>SELECT</th>
        <th>UNIVERSITY ID</th>
        <th>MEMBER</th>
        <th>COURSE</th>
        <th>YEAR</th>
        <th>ATTENDANCE %age</th>
        </tr>
        </thead>
        <tbody>
                <% for(var i in thirdlist) { %>
        <tr>
        <td class="font-weight-medium">
        <div class="checkbox-inline">
        <label class="checkbox-inline"><input type="checkbox" style="width: 20px; height:20px;" name="p" value="<%= thirdlist[i].university_id %>" checked></label>
        </div>
        </td>
        <td><%= thirdlist[i].university_id %></td>
        <td><%= thirdlist[i].name %></td>
        <td><%= thirdlist[i].course %></td>
        <td><%= thirdlist[i].year %></td>
        <td>____</td>
        </tr>
        <% } %>
        </tbody>
        </table>
        <br><center><input type="submit" value="Save Attendance" class="btn btn-primary" onclick="popup()"></center><br>
        </form>
        </div>
      </div>

  <!--4th year attendance-->
  <div class="tab-pane fade" id="fourth">
  <div class="table-responsive">
        <form method="post" action="/app/attend">
        <table class="table table-bordered">
        <thead>
        <tr>
        <th>SELECT</th>
        <th>UNIVERSITY ID</th>
        <th>MEMBER</th>
        <th>COURSE</th>
        <th>YEAR</th>
        <th>ATTENDANCE %age</th>
        </tr>
        </thead>
        <tbody>
                <% for(var i in fourthlist) { %>
        <tr>
        <td class="font-weight-medium">
        <div class="checkbox-inline">
        <label class="checkbox-inline"><input type="checkbox" style="width: 20px; height:20px;" name="p" value="<%= fourthlist[i].university_id %>" checked></label>
        </div>
        </td>
        <td><%= fourthlist[i].university_id %></td>
        <td><%= fourthlist[i].name %></td>
        <td><%= fourthlist[i].course %></td>
        <td><%= fourthlist[i].year %></td>
        <td>____</td>
        </tr>
        <% } %>
        </tbody>
        </table>
        <br><center><input type="submit" value="Save Attendance" class="btn btn-primary" onclick="popup()"></center><br>
        </form>
        </div>
  </div>
      </div> 
        </div>  
</div>
</div>
</div>
</div>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
                <div class="container-fluid clearfix">
                  <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019
                    <a href="http://www.udaaan.org/" target="_blank">UdaaanAasmaTak</a>. All rights reserved.</span>
                 <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
                    <i class="mdi mdi-heart text-danger"></i>
                  </span>-->
                  <div class="template-demo">
                      <button type="button" class="btn social-btn btn-rounded btn-facebook">
                        <i class="mdi mdi-facebook"></i>
                      </button>
                      <button type="button" class="btn social-btn btn-rounded btn-twitter">
                        <i class="mdi mdi-twitter"></i>
                      </button>
                      <button type="button" class="btn social-btn btn-rounded btn-instagram" style="background:rgb(191, 74, 226);">
                          <i class="mdi mdi-instagram"></i>
                        </button>
                    </div>
               </div>
              </footer>
              <!-- partial -->
            </div>
            <!-- main-panel ends -->
          </div>
          <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
      
        <!-- plugins:js -->
        <script src="/static/vendors/js/vendor.bundle.base.js"></script>
        <script src="/static/vendors/js/vendor.bundle.addons.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="/static/scripts/js/off-canvas.js"></script>
        <script src="/static/scripts/js/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="/static/scripts/js/dashboard.js"></script>
        <!-- End custom js for this page-->
      </body>
      
      </html>