<!--Footer


<footer class="udaaan-footer">
<div class="container">
<div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
            <li><a href="#"><i class="fa fa-twitter"></i> </a> </li>
            <li><a href="#"><i class="fa fa-instagram"></i> </a> </li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> </a> </li>
          </ul>
          <p>
                <small class="block">&copy;All Rights Reserved.</small>
                <small class="block">Designed by <a href="http://www.udaaan.org/" target="_blank">UdaaanAasmaTak</a></small>
        </p>
        </div>
      </div>
    </div>
</footer>
-->




<!--footer starts from here-->
<footer class="footer">

<div class="container">
    <p>
        &copy;All Rights Reserved.
        Designed by <a href="http://www.udaaan.org/" target="_blank">UdaaanAasmaTak</a><h5>
</p>

<ul class="social_footer_ul">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
<li><a href="#"><i class="fa fa-instagram"></i></a></li>
</ul>

</div>

</footer>
