<footer class="footer">
          <div class="container">
          <p>&copy;All Rights Reserved<br>Designed by <a href="http://www.udaaan.org/" target="_blank">UdaaanAasmaTak</a></p>
          <div class="footer_social">
          <ul type="none">
          <li><a href="https://www.facebook.com/UdaaanAasmaTak/"><i class="mdi mdi-facebook"></i></a></li>
          <li><a href="https://twitter.com/UdaaanAasmaTak"><i class="mdi mdi-twitter"></i></a></li>
          <li><a href="mailto:udaaanaasmatak@gmail.com"><i class="mdi mdi-email"></i></a></li>
          <li><a href="https://www.instagram.com/udaaan_aasma_tak/"><i class="mdi mdi-instagram"></i></a></li>
          </ul>
          </div>
          </div>
  </footer>