
	<!-- Header -->

	<header class="header">

            <div class="header_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="header_content d-flex flex-row align-items-center justify-content-start">
                                    <div class="logo_container">
                                        <a href="/app/user">
                                            <img src="/static/images/udaaan/1.jpg" class="logo_img" alt="photo">&nbsp;&nbsp;<div class="logo_text">Udaaan Aasma Tak</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    	
        </header>