<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RulesPage|Udaaan Portal</title>
  <link rel="shortcut icon" href="/static/images/1.jpg">
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/styles/user.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="/app/user">
          <img src="/static/images/7.png" alt="logo" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="/app/user">
          <img src="/static/images/1.jpg" alt="logo" />
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
          <li class="nav-item">
              <% if(userdetails.responsibility=="Attendance") { %>
            <a href="/app/attendance" class="nav-link">
              <i class="mdi mdi-bookmark-plus-outline"></i>Upload Attendance</a>
                <% } %>
 </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">Hello, <%= userdetails.name %></span>
              <img class="img-xs rounded-circle" src="<%= userdetails.photo %>" alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item" href="#">
                Change Password
              </a>
              <a class="dropdown-item" href="/app/logout">
                Sign Out
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="<%= userdetails.photo %>" alt="profile image">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name"><%= userdetails.name %></p>
                  <div>
                    <small class="designation text-muted">Volunteer</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
              <form method="get" action="/app/chat">
              <button class="btn btn-success btn-block">Udaaan Chat
                <i class="mdi mdi-plus"></i>
              </button>
            </form>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app/user">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-content-copy"></i>
              <span class="menu-title">View Details</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="#">GLA Unit Volunteers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">GLA Unit Students</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">GLA Unit Alumini</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="menu-icon mdi mdi-backup-restore"></i>
              <span class="menu-title">Events Update</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app/hierarchy">
              <i class="menu-icon mdi mdi-chart-line"></i>
              <span class="menu-title">Hierarchy</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="menu-icon mdi mdi-table"></i>
              <span class="menu-title">Event Calender</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app/rules">
              <i class="menu-icon mdi mdi-sticker"></i>
              <span class="menu-title">Rules & Regulations</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="menu-icon mdi mdi-sticker"></i>
              <span class="menu-title">Update Details</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
       
<div class="content-wrapper">
        <h1 align="center">*Rules and Regulations*</h1>
        <h2>
        <marquee direction="right" style="color:red">Be a Social Warrior</marquee>
        <ul>
        <li>Your Membership will be governed by rules and regulations and code of ethics laid down by the Udaaan Aasma Tak(A unit of Shining Buds Foundations)</li>
        <br><li>Once Membership is granted you will only be able to access all areas of the site with use of the username and password provided by the Organization.  </li>
        <br><li>You are responsible for each and every access or use of the site that occurs in conjunction with use of your username and password. </li>
        <br><li>You must use all reasonable efforts to keep your username and password confidential. </li>
        <br><li>You must not allow any third party to access the site using your username and password and make use of the site on your behalf. </li>
        <br><li>Do not share details of any member or student outside the organization without prior permission. </li>
        <br><li>Keep your discussions healthy and productive.</li>
        </ul>
        </h2>
        </div>
        
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019
              <a href="http://www.udaaan.org/" target="_blank">UdaaanAasmaTak</a>. All rights reserved.</span>
           <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with
              <i class="mdi mdi-heart text-danger"></i>
            </span>-->
            <div class="template-demo">
                <button type="button" class="btn social-btn btn-rounded btn-facebook">
                  <i class="mdi mdi-facebook"></i>
                </button>
                <button type="button" class="btn social-btn btn-rounded btn-twitter">
                  <i class="mdi mdi-twitter"></i>
                </button>
                <button type="button" class="btn social-btn btn-rounded btn-instagram" style="background:rgb(191, 74, 226);">
                    <i class="mdi mdi-instagram"></i>
                  </button>
              </div>
         </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="/static/vendors/js/vendor.bundle.base.js"></script>
  <script src="/static/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/static/scripts/js/off-canvas.js"></script>
  <script src="/static/scripts/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/static/scripts/js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

