<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">   
<title>UserPage|Udaaan Portal</title>
<link rel="shortcut icon" href="/static/images/1.jpg">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="/static/styles/footer.css" >
<link rel="stylesheet" href="/static/styles/user.css" >
</head>

<body>

<header>
<!-- Fixed navbar -->
<nav class="navbar navbar-dark fixed-top bg-dark">
<a class="navbar-brand" href="#"><%= userdetails.name %></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" href="#">Rules & Regulations</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Hierarchy</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Event Calender</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Update Details</a>
</li>         
<li class="nav-item">
<a class="nav-link" href="#">Change Password</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/app/logout">Logout</a>
</li>
</ul>
<!-- search bar -->
<!-- <form class="form-inline mt-2 mt-md-0">
<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>-->
</div>
</nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4">
<h1 class="mt-5"><img src='<%= userdetails.photo %>' alt='photo'></h1>
</div>

<div class="col-lg-4 col-md-4 col-sm-4">
<% if(userdetails.responsibility=="Attendance") { %>
<button><a class="nav-link active" href="/app/attendance">Upload Attendance</a></button>
<% } %>
</div>

<div class="col-lg-4 col-md-4 col-sm-4">
<button><a class="nav-link active" href="#">Chatting</a></button>
</div>
</div>   

<!-- Updates-->
<div class="col-md-12 col-md-offset-0 text-center fh5co-heading fh5co-heading-sidebar">
<h2><span>Updates</span></h2>
</div>
<div class="fh5co-staff">
<ul class="category">
<% for(var i in updatelist) { %>
<li><i class="icon-check"></i>
<%= updatelist[i].update_title %>
</li>
<% } %>
</ul>
</div>

<!-- User working days -->
<div class="col-md-12 col-md-offset-0 text-center fh5co-heading fh5co-heading-sidebar">
<h2><span>Your Days</span></h2>
</div>
<ul class="category">
<% var teach = teachingdetails.teaching_days %>
<% var splits = teach.split(","); %>
<%   for (var i=0;i<splits.length;i++)  {%>
<li><i class="icon-check"></i>
<%= splits[i] %>
</li>
<% } %>
</ul>

<!-- Members For Today's Class -->
<div class="col-md-12 col-md-offset-0 text-center fh5co-heading">
<h2><span>Members For Today's Class</span></h2>
<br>
<table class="table table-striped table-sm">
<thead>
<tr>
<th><h5>MEMBER</h5></th>
<th><h5>YEAR</h5></th>
<th><h5>COURSE</h5></th>
</tr>
</thead>
<tbody>
<% for(var i in memberlist) { %>
<tr>
<th><%= memberlist[i].name %></th>
<td><%= memberlist[i].year %></td>
<td><%= memberlist[i].course %></td>
</tr>
<% } %>
</tbody>
</table>
</div>

<!-- Members For Today's Transportation-->
<div class="col-md-12 col-md-offset-0 text-center fh5co-heading">
<h2><span>Members For Today's Transportation</span></h2>
<br>
<!-- To take Students -->
<table class="table table-striped table-sm">
<thead>
<tr>
<th><h5>MEMBER</h5></th>
<th><h5>YEAR</h5></th>
<th><h5>COURSE</h5></th>
<th><h5>CONTACT</h5></th>
<th><h5>DUTY</h5></th>
</tr>
</thead>
<tbody>
<% for(var i in transportlist1) { %>
<tr>
<th><%= transportlist1[i].name %></th>
<th><%= transportlist1[i].year %></th>
<th><%= transportlist1[i].course %></th>
<th><%= transportlist1[i].contact_no %></th>
<th>To Take Students</th>
</tr>
<% } %>
</tbody>
<!-- To leave Students -->
<tbody>
<% for(var i in transportlist2) { %>
<tr>
<th><%= transportlist2[i].name %></th>
<th><%= transportlist2[i].year %></th>
<th><%= transportlist2[i].course %></th>
<th><%= transportlist2[i].contact_no %></th>
<th>To Leave Students</th>
</tr>
<% } %>
</tbody>
</table>
</main>

<!-- Footer -->
<footer class="footer">
<div class="container">
<span class="text-muted">&copy;All Rights Reserved<br>Designed by <a href="http://www.udaaan.org/" target="_blank">UdaaanAasmaTak</a></span>
<ul class="social_footer_ul" type="none">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
<li><a href="#"><i class="fa fa-instagram"></i></a></li>
</ul>
</div>
</footer>

<!-- Bootstrap core JavaScript-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
